## Importing all the required library

In [2]:
pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\rushi\anaconda3\lib\site-packages (from selenium) (1.26.4)
Installing collected packages: selenium
Successfully installed selenium-3.141.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import requests, time, random
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
import numpy as np

## Using Selenium workframe we can automate the linked in log in proccess

In [6]:
browser = webdriver.Chrome('chromedriver.exe')
browser.get('https://www.linkedin.com/uas/login')
file = open('config.txt')
lines = file.readlines()
username = lines[0]
password = lines[1]


elementID = browser.find_element_by_id('username')
elementID.send_keys(username)

elementID = browser.find_element_by_id('password')
elementID.send_keys(password)

elementID.submit()

## Below are the empty list which will be our final lists with scrapped data

In [7]:
new = []
new2 = []
new3 = []

In [8]:
visitedprofile = []
profilesqueued = []

## Create a funtion to get the company profile, which will be saved in the list with variable named new.

In [9]:
def getnewprofileID(soup, profilesqueued):
    profileID = []
    mj = soup.find('section', {'class' : 'grid__col grid__col--lg-12 mb6'})
    all_links = mj.findAll('a', {'class':'app-aware-link'})
    for link in all_links:
        userID = link.text
        if((userID not in profilesqueued) and (userID not in visitedprofile)):
            profileID.append(userID)
    return profileID

In [10]:
company_name = []
profilesqueued2 = []

## Create a funtion to get the company name, which will be saved in the list with variable named new2.

In [11]:
def getcompanyname(soup, profilesqueued2):
    profileID2 = []
    mj = soup.find('section', {'class' : 'grid__col grid__col--lg-12 mb6'})
    all_links = mj.findAll('div', {'class':'entity-result__primary-subtitle t-14 t-black'})
    for link in all_links:
        userID2 = link.text
        if((userID2 not in profilesqueued2) and (userID2 not in company_name)):
            profileID2.append(userID2)
    return profileID2

In [12]:
company_location = []
profilesqueued3 = []

## Create a funtion to get the company location, which will be saved in the list with variable named new3.

In [13]:
def getcompanylocation(soup, profilesqueued2):
    profileID3 = []
    mj = soup.find('section', {'class' : 'grid__col grid__col--lg-12 mb6'})
    all_links = mj.findAll('div', {'class':'entity-result__secondary-subtitle t-14'})
    for link in all_links:
        userID3 = link.text
        if((userID3 not in profilesqueued3) and (userID3 not in company_location)):
            profileID3.append(userID3)
    return profileID3

## There are total 73 pages, we have to scarp all of them.

In [14]:
nextlink = ['?start=10','?start=20','?start=30','?start=40','?start=50','?start=60','?start=70','?start=80','?start=90','?start=100','?start=110','?start=120','?start=130','?start=140','?start=150','?start=160','?start=170','?start=190','?start=200','?start=210','?start=220','?start=230','?start=240','?start=250','?start=260','?start=270','?start=280','?start=290','?start=300','?start=310','?start=320','?start=330','?start=340','?start=350','?start=360','?start=370','?start=380','?start=390','?start=400','?start=410','?start=420','?start=430','?start=440','?start=450','?start=460','?start=470','?start=480','?start=490','?start=500','?start=510','?start=520','?start=530','?start=540','?start=550','?start=560','?start=570','?start=580']

In [15]:
for i in nextlink:
    link = 'https://www.linkedin.com/my-items/saved-jobs/' + i
    new.extend(getnewprofileID(BeautifulSoup(browser.page_source), profilesqueued))
    new2.extend(getcompanyname(BeautifulSoup(browser.page_source), profilesqueued2))
    new3.extend(getcompanylocation(BeautifulSoup(browser.page_source), profilesqueued3))
    browser.get(link)

In [16]:
len(new)

944

In [17]:
len(new2)

0

In [18]:
len(new3)

0

## Saving the scrap data of company post in the list named as new

In [19]:
data2 = {
        'company_post' : new
       
        }

In [20]:
df2 = pd.DataFrame(data2)

In [21]:
df2

                                          company_post
0                                        \n\n\n \n\n\n
1                 \nBusiness Process Analyst (m/f/d)\n
2                                        \n\n\n \n\n\n
3    \nIT Business Analyst - Intelligent Customer E...
4                                        \n\n\n \n\n\n
..                                                 ...
939                    \nCloud Data Engineer (m/w/d)\n
940                                      \n\n\n \n\n\n
941                                 \nData Engineer*\n
942                                      \n\n\n \n\n\n
943       \nBig Data Engineer (Azure) - 100% Remote \n

[944 rows x 1 columns]

In [22]:
df2 = df2[df2.company_post != '\n \n \n\n\n']
df2 = df2[df2.company_post != '\n\n \n\n\n\n\n\n\nApply\n\n\n']
df2 = df2[df2.company_post != '\n\n \n\n\n\n\n\n\nEasily Apply\n\n\n']

In [23]:
df2['company_post'] = df2['company_post'].apply(lambda x: x.replace('\n',''))

In [24]:
df2

                                          company_post
0
1                     Business Process Analyst (m/f/d)
2
3    IT Business Analyst - Intelligent Customer Eng...
4
..                                                 ...
939                        Cloud Data Engineer (m/w/d)
940
941                                     Data Engineer*
942
943           Big Data Engineer (Azure) - 100% Remote

[944 rows x 1 columns]

In [25]:
df2.company_post.unique()

array([' ', 'Business Process Analyst (m/f/d)',
       'IT Business Analyst - Intelligent Customer Engagement (m/f/d)- Merck KGaA Darmstadt, Germany',
       'Software-Entwickler',
       'Data Scientist - All locations | Home office',
       'Werkstudent (m/w/d) im Bereich Learning & Development',
       'Business Analyst / Prozessberater:in (m/w/divers) – Digitalisierung in der Energiewirtschaft (Teilzeit möglich, 80-100%)',
       'Text data analyst - part-time [f/m/x]',
       'Werkstudent Software Engineer (m/w/d)',
       '(Senior) e-Commerce Analyst (w/m/d) FMCG',
       'Freelance Video Lecturer (m/f/d) - Advanced Data Analysis',
       'Computer Scientist - Data Science, Digital Oncology (m/f/d)- Deutsches Krebsforschungszentrum (DKFZ)',
       'Software Engineer Data, Analytics & AI',
       'Werkstudent Data Analyst / Data Science (w/m/d)',
       'Intern / Working Student: Data Engineer *',
       'Online Quality Map Analyst Germany',
       'Business Analyst (m/w/d) - IT / Betriebswirtschaft / Banking',
       'Werkstudent (w/m/d) im Accounting',
       '(Senior) BI Analyst Marketing (m/w/x)',
       'Werkstudent (w/m/d) mit IT-Affinität im Bereich Bildungswesen',
       'Senior Data Scientist (m/f/d) for Vantage Towers',
       'Werkstudent/in Data Analytics (m/w/d)',
       'Werkstudent (w/m/d) für Treasury Payments, Backoffice & Credit Risk Intelligence',
       'Working Student - Sales Operations Analyst',
       'Werkstudent (w/m/d) Markt- und Wettbewerberanalyse',
       'Werkstudent (w/m/d) Ersatzteileversorgung',
       'Specialist Data Analytics and Assurance (m/f/d) for Vantage Towers',
       'Werkstudent (w/m/d) für innovative Logistik',
       'Werkstudent (w/m/d) Lean & Digitalization',
       'Working Student Business Analyst (m/f/d)',
       'Werkstudent (w/m/d) Market Intelligence',
       'Operations Performance Analyst (f/m/d)',
       'Data Analysis Academic Lead - Germany',
       'Working Student (f/m/d) in Data & Business Intelligence Team',
       'Internship - Consumer Insights & Market Intelligence - Market Europe (m/f/d)',
       'Internship - Digital Analytics & Consumer Insights (m/f/d)',
       'Intern Business Intelligence (m/f/d)', 'Associate Data Scientist',
       'Intern Business Analytics - Operations (f/m/x)',
       'Internship Venture Analyst',
       'Senior Game Analyst / Data Analyst (m/f/x)',
       'Data Analysis Instructor - Germany',
       'Material Data Assistant (m/f/d)',
       'Business Intelligence Analyst (m/w/d)',
       'Working Student Business Intelligence',
       'Data Analyst (m/f/d) - Marketing, Sales & Common Analytics',
       'Junior Business Analyst - Recruitment Intelligence (f/m/d)',
       'BI Analyst (gn)', 'Data Scientist Hydrometeorology (m/f/d)',
       'Intern Quantitative Analytics (f/m/x)', 'Data Analyst (f/m/d)',
       'Internship Analytics Consulting (m/f/d)',
       'Master Thesis Intern - Strategy & Analytics (m/w/d)',
       'Internship Operational Business Data Analyst (m/f/d)',
       'Intern - Data Analyst and Process Mining Architect',
       'Working Student (m/f/d) – Business Analyst',
       'Working Student (f/m/d) Business Development Analyst',
       'Data Scientist intern', 'CRM Administrator ',
       'Intern Data Scientist (m/f/d)',
       'Intern (m/f/d) Fixed Income Product Development – Data Analysis (starting Oct / Nov 2021)',
       'Internship Business Analyst',
       'Working student (f/m/d) Data Warehouse Data Analyst',
       'Trainee - Data Analyst (m/w/d) (Esport)',
       'Working Student (f/m/d) Data Analysis and Visualization',
       'Werkstudent (m/w/d) Data Science Power BI',
       'Data Analyst Intern (d/f/m)',
       'Werkstudent (m/w/d) Data Scientist/ Analyst - Remote-Arbeit',
       'GEN-C Graduate Program - AI / Analytics / Data Science / BI / Big Data Junior Analyst / Analyste (m/w/d) MIT COGNIZANT VOM JUNIOR ZUM PROFESSIONAL (H/F)',
       'Junior Business Analyst (f/m/d)',
       'Data Analysis/Science Internship Program 2022',
       'Business Analyst (paid internship)',
       'Specialist Data Analysis (m/f/d) - Remote Option GER',
       'Trainee Data Analytics (w/m/d)', 'BI Intern (d/f/m)',
       'Business Intelligence Analyst',
       'Senior Data Specialist (m/f/x) (Analytics / Data Engineering / Data Science)',
       'Data Analyst App Marketing (m|f|x)', 'BI Analyst (f/m/d)',
       'IIoT Business Data Analyst (m/f/d)', 'Data Analyst (m|f|d)',
       'Junior Data Scientist (m/w/d)',
       'Business Intelligence Analyst (f/m/d)', 'Data Scientist (m/w/d)',
       'BI Analyst - Schwerpunkt Digital Content Analytics (m/w/d)',
       'Consultant Visual Analytics / Intelligence (all genders)',
       'BI Analyst - International SCM Analytics (m/f/x)',
       'Product Analyst (all genders)', 'Data Anlyst EU',
       'Analytics & Data Consultant, Tableau',
       'Senior Data Analyst (m/f/d) - Business Intelligence',
       'Business Intelligence Developer (d/f/m) SAS',
       '(Senior) Consultant Data Analytics (m/w/d)',
       'Senior Data Analyst - Wholesale Analytics',
       'Business Intelligence Developer',
       'Pre-Sales Solution Engineer, BI & Analytics, Tableau',
       'Sales Data Analyst - Etail',
       'Analyst (m/w/d) Intelligent Analytics and Insights',
       'Data Analyst (m/f/d)',
       'Data Analyst Production International (m/f/x)', 'Analyst (w/m/d)',
       'Data Analyst', 'Data Analyst (m/f/d) Security & Loss Prevention',
       'BI Analyst',
       'Duales Studium: Bachelor of Science Angewandte Mathematik und Informatik (m/w/d) 2021 & 2022- Mathematisch-technischer Softwareentwickler',
       'Praktikant / Werkstudent Data Analyst (m/w/d) Financial Services Industry in Frankfurt (Main)',
       'Praktikant / Werkstudent Data Analyst (m/w/d) Financial Services Industry',
       'GEN-C Graduate Program - AI / Analytics / Data Science / BI / Big Data Junior Analyst (m/w/d) MIT COGNIZANT VOM JUNIOR ZUM PROFESSIONAL',
       'Working Student - Data Engineer (f/m/d)',
       'Private Equity (Big Data) Analyst Intern (f/m/x)',
       'Werkstudent/in (m/w/d) im Bereich Finance (Accounting)',
       'Abschlussarbeit / Praktikum im Bereich der Künstlichen Intelligenz / Data Scientist (m/w/d) at TPN² - Transformation Partner Network',
       'Praktikant / Werkstudent Business Analyst (m/w/d)',
       'Internship - Strategy & Analytics (m/w/d)',
       'Thesis Analyst - 6-months Internship - Germany',
       'Intern Business Analyst (m/f/d)',
       'Business Analyst Intern - Fintech (m/w/d)',
       'Working Student - Data Analyst and Process Mining Architect',
       '(Junior) Business Analyst', 'Data Analyst for Product (f/m/d)',
       'Data Analyst - Marketing and Sales (m/f/d)',
       '(Junior) Data Analyst (m/f/d)',
       'Business Intelligence Data Scientist (m/w/d)',
       'Junior Data Scientist', 'Data Analyst (all genders)',
       'Data Analyst - Product (m/f/d)',
       'Insights and Analyst Specialist',
       'Data Analyst Strategic Products (m/f/d)', 'Business Analyst',
       '(Senior) Data Analyst (m/f/d) Munich', 'Business Analyst (m/f/d)',
       'Application Analyst', 'BI Analyst / PowerBI Specialist (m/w/d)',
       'Senior Business Intelligence Analyst (m/w/d)',
       'Senior Product Data Scientist', 'Business Analyst (m/w/d)',
       'Junior Business Analyst (m/w/d)',
       'Manager Data Intelligence / Data Analyst (m/w/d)',
       'Technology Analyst (m/w/d)', 'Product Analyst',
       'Data Analyst (m/w/d)', 'Lead Analyst (w/m/d)',
       '(Senior) Data Analyst (m/f/d)', 'Data Analyst CRM*',
       'Marketing Data Analyst',
       'Junior International Food Safety&Quality Assurance Data Analyst (m/f/x)',
       'Retail Support Analyst', 'Analyst (m/w/d) Strategy & Operations',
       'Product Analyst DACH (f/m/d/x)', 'Microsoft Power BI Consultant',
       'Business Analyst - Life Insurance (all genders)',
       '(Senior) Data Analyst - BI, Orpheus',
       'Junior IT Market Analyst (m/w/d) ',
       'Insights Analyst - EMEA Remote', 'Internet Analyst',
       'Market Insights Analyst EMEA', 'Data Analyst EV Charging Infra',
       'Marketing Data Analyst (m/f/d)', 'BI (Data) Analyst',
       'Data Analyst - OneFootball Network',
       'Data Analyst Leittechnik (w/m/d)',
       'Intern Operations Strategy (m/f/d)',
       'Business Intelligence Analyst (m/f/d) - based in Europe',
       'Junior Online Analyst (w/m/d)',
       '(Senior) Data Analyst (m/w/d) - Power BI', 'Game Analyst',
       'Data Analyst, Q-Commerce Analytics (f/m/d)',
       'Business Intelligence Analyst (m/f/d)',
       'Business Intelligence Analyst (m/f/d) in Berlin',
       'Data Analyst - Digital Content (m/f/d)',
       'Business Intelligence Data Analyst (f/m/x)',
       'Digital Analyst (m/w/d)',
       'Business Analyst/Consultant (m/f/o) Cloud Transformation - Your entry in Consulting in Berlin',
       'Business Analyst/Consultant (m/f/o) Cloud Transformation - Your entry in Consulting in Hamburg',
       'Business Data Analyst',
       'Business & Data Analyst (m/w/d) Catena - X',
       'Commercial Planning Analyst', 'Data Insights Analyst (f/m/d)',
       'Data Analyst, SPIM EMEA', 'Social Media Analyst',
       'Data Analyst in Pricing Systems (m/f/d) - Remote Option GER',
       'Master Data Associate', 'Junior Data Analyst (m/w/d)',
       'Junior Capabilities & Insights Analyst (m/w/d) – Aerospace & Defense',
       'Data Analyst Logistics Network Planning (m/w/d)',
       'Business Analyst (M/W/D)',
       'Junior Insight Analyst (w/m/d) Band 9',
       'Customer Data Analyst (f/m/d)', 'Data Analyst (f,m,d)',
       'Data Analyst (f/m/x)', 'Junior Analyst: Part-Time (M/F/D)',
       'Business Analyst/Consultant (m/f/o) Cloud Transformation - Your entry in Consulting',
       'Data Analyst - Go to Market (Berlin)',
       '(Junior) Data Analyst (w/m/d)', 'Pricing Data Analyst (f/m/d)',
       'Business Data Analyst (m/f/d)',
       'BI Analyst, Bangkok based (relocation provided)',
       'Graduate Data Analyst', '(Junior) Data analyst (m/f/x)',
       'Associate Business Analyst-SAP',
       'Business Analyst - Intune Implementation (m/w/d)',
       'Data Analyst (m/f/d) Business Intelligence',
       'Data Analyst (m/f/x)',
       'Business Analyst - Anwendungsunterstützung (all genders)',
       'Data Analyst for internal Audit (m/f/d)',
       'Analyst - Business Intelligence', 'Loan IQ Business Analyst',
       'Business Analyst  (Product Owner)',
       'DWH/BI Designer & Analyst (w/m/d)',
       'Talent Acquisition Partner, Analytics',
       'Business Analyst (m/w/d) Management Consulting Energiesektor - Hamburg',
       'Software Engineer in Support', 'IT Business Analyst, Senior',
       'Lead Consultant / Servity / IT Shop / Business Analyst (m/f/d)',
       'Business Analyst - Rankings (m/f/x)',
       'Data Scientist E-Commerce Optimization (m/w/d)',
       'Data Engineer (m/f/d)', 'Data Scientist',
       'REMOTE ETL Data Engineer (m/w/d)', 'Data Engineer (w/m/d)',
       'Data Engineer',
       'Oliver Wyman - Senior Analyst - Digital Data & Analytics - Berlin',
       'Business Intelligence Specialist / Data Engineer (m/f/d)',
       'Junior Data and AI Engineer Google Cloud (all genders)',
       '(Junior) Data Scientist', 'Data Analyst (m/w/d) E-Commerce',
       'Senior Analyst Customer-centric Pricing',
       'Analyst eCommerce (m/f/d)',
       'Data Engineer for Retail Operations (w/m/d)',
       'Business Intelligence Specialist / Data Engineer (m/w/d)',
       'IT Business Analyst - SAP Finance and Controlling',
       'Data Engineer Azure (m/w/d)',
       'Working student or internship (m/f/d) „Environmental and LCA data analyst“',
       'Data Engineer (m/w/d) ', 'Data Engineer - German Speaking',
       'Adobe Experience Cloud Data Scientist (all genders)',
       'Publicis Media - Data Engineer (m/w/d) - deutschlandweit',
       'Data Analyst / Data Scientist / System Engineer MySQL (m/w/d) IT-Sicherheit / IT-Compliance',
       'Lead Data Engineer / Consultant (m/f/d)', 'BI Developer ',
       '(Senior) Business Intelligence Developer - Tableau (m/f/d)',
       'Business Analyst/Programmer',
       'Data Analyst (m/w/d) Bereich Data Warehouse - Allemagne',
       'Data Engineer (m/w/d), befristet für 12 Monate',
       'Junior Business Analyst (m/w/d) Acqua di Parma',
       'Master@IBM - Data Science & AI Application Engineer (m/w/x)',
       'Software Engineer Data Intelligence (d/f/m)',
       'Data Analyst (m/w/d) im HR Marketing',
       'Data Engineer mit BI Skills (d/m/w)',
       'Data Engineer (m/w/d) Advanced Intelligence',
       'Data Analyst/Scientist eCommerce Logistik (w/m/d)',
       'Senior Data Engineer', 'Software Engineer (m/f/d)',
       'Business Analyst - Inflight Sales IT (m/f/d)',
       'Python Data Engineer (f/m/x)', 'Data Engineer (Office or Remote)',
       'Senior Data Scientist (m/w/d)', 'Data Engineer (m/w/d)',
       'Data Scientist (w/m/d)', 'Data Analyst (w/d/m)',
       'Business Analyst - Category Management (f/m/d)',
       'Business Analyst Learning and Development',
       'Data Scientist - Python and SQL - Start 5th July',
       'Data Analyst (d/w/m)', 'Data Engineer - Remote (EU)',
       '(Senior) Consultant (m/f/d) Data Scientist – any German office',
       'BI Developer & Data Analyst ', 'Analytics Engineer',
       'Data Analyst (w/m/d)', 'Data Analyst - Marketing Intelligence',
       'Analyst, Pricing and Deal Desk',
       'Analyst, Renewable Energy - Power Solutions',
       'Analyst Wirtschaftlichkeitsrechnung und finanzielle Bewertung (w/m/d)',
       'Working Student Analyst',
       'Business Intelligence Consultant (m/f/div)',
       '(Graduate) Business Analyst (m/w/d)',
       'Business Intelligence Data Warehouse Consultant',
       'Business Intelligence Engineer Intern - Germany',
       'BI Entwickler Tableau (w/m/d)',
       'Fraud Data Analyst (Bangkok based, relocation provided)',
       'Product Analyst: Back Office', 'Senior Data Analyst',
       'Data Analyst (x/f/m)', 'Business Intelligence Engineer',
       'Specialist Product Analytics (m/w/d)',
       'Specialist Data Science (M/F/D)', 'Data Consultant - Product',
       'IT Business Analyst - Data Analytics (m/f/d)',
       'Data Analyst Marketing Intelligence- Zalando Lounge',
       'Junior Business Analyst B2B (d/m/w)',
       'Graduate Data Analyst (m/w/d)',
       'Intern / Working Student: Data Engineer (f/m/d)',
       'Product Data Analyst (m/f/x)',
       'Business Intelligence Analyst - Customer Intelligence (Zalando Lounge) - (W,M,D)',
       'Sales Data Scientist', '(Junior) Data Analyst (m/w/x)',
       'BI Analyst (m/w/d)', 'Data-Analyst Intern (w/m/d)',
       'Mobile App Analytics Specialist (m/f/x)',
       'Technical Architect, BI & Analytics - Tableau',
       'Product Analyst (m/f/x)', 'Data Insights Analyst (f/x/m)',
       '(Junior) Data Scientist (w/m/d)', 'Data Analyst - Lounge Pricing',
       'Business Intelligence Analyst heycar Group (m/f/d)',
       'Data scientist - freelance (contract)', 'Game Data Analyst',
       'Operations Intelligence Associate (m/f/d) ',
       'Business Intelligence Analyst (m/f/d)  – in Munich',
       'Senior Data Analyst - Product (m/f/d)',
       '(Senior) Data Analyst - Operations Analytics (m/f/d)',
       'Senior Analytics Engineer - Operations Analytics (m/f/d)',
       'Marketing BI Analyst (w/m/d)', 'Data Analyst (M/W/D)',
       'Business Intelligence Analyst (m/f/x))',
       'Junior Business Intelligence Analyst (m/w/d) Elternzeitvertretung',
       'Junior Product Analyst', 'Data & Analytics Consultant, Tableau',
       'Marketing Data Analyst (f/m/x)',
       'Working Student Market Research (f/m/d)',
       'Working Student Content Creator (Video)',
       'Working Student (f/m/d) Data Science Consulting', 'Werkstudent',
       'Werkstudent/Business Intern (m/w/d) i.s.h.med Consulting',
       'Working Student - Assortment Management Business Analyst (m/f/d)',
       'Working Student (f/m/d) - Business Process Intelligence Support',
       'Werkstudent, Datenanalyst',
       'Werkstudent (m/w/d) im Bereich Insights Analytics',
       'Werkstudent (w/m/d) Data Integration & Analytics',
       'Werkstudent (m/w/d) Analytics und Reporting',
       'Werkstudent Operations Strategy & Analytics (m/w/d)',
       'Alteryx / Tableau Analyst (m/w/d)',
       'Business Intelligence Analyst - Global BI (f/m/x)',
       'Junior Business Intelligence Analyst (f/m/d)',
       'Data Analyst - freelance (contract)', 'Data Engineer (f,m,d)',
       'Data Analyst (m/w/d) Customer Relationship Management',
       'Data Scientist - Advanced Analytics',
       'Insights Analyst (Analytics Engineer) - EMEA Remote',
       'Product Data Analyst (f/m/x)', 'Data Engineer (m/f/x)',
       'DATA ENGINEER (W/M/D)',
       'Working Student Business Operations (f/m/x)',
       'Business Operations Working Student - Remote',
       'Working Student - Business Development Team',
       'Working Student (m/f/x) – Marketing Optimization',
       'Working Student, Alexa EU', 'Sales Operations Working Student',
       'Working Student (f/m/d): Design Working Student',
       'Working Student - Data Engineering (f/m/x)',
       'Working Student Insights & Analytics (f/d/m)',
       'Working Student Local Shops (f/m/d)',
       'Banking Operations Working Student',
       'Azure Data Engineer (f/m/d)',
       'Data Scientist – Quantitative Finance (m/f/d)',
       '(Senior) Consultant (m/w/d) Microsoft-Azure & -Power BI',
       'Cloud Data Engineer (m/w/d)', 'Data Engineer*',
       'Big Data Engineer (Azure) - 100% Remote '], dtype=object)

In [26]:
df2 = df2[df2.company_post != ' Deutsche Bahn International']

In [27]:
df2 = df2[df2.company_post != '  ']

In [28]:
file_name_companypost = 'linked_in_companypost.xlsx'

In [29]:
file_name_location_name = 'linked_in_location_name.xlsx'

## saving scrap data of the company name in the list named as new2

In [30]:
data = {
        'company_name' : new2
       
        }

In [31]:
df = pd.DataFrame(data)

## Saving scrap data of the comapny location in the list named as new3

In [32]:
data3 = {
        'company_location' : new3
       
        }

In [33]:
df3 = pd.DataFrame(data3)

In [34]:
df.to_excel(file_name_location_name)

In [35]:
df2.to_excel(file_name_companypost)