## Importing all the required library

In [1]:
import requests, time, random
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd
import numpy as np

## Using Selenium workframe we can automate the linked in log in proccess

In [2]:
browser = webdriver.Chrome('chromedriver.exe')
browser.get('https://www.linkedin.com/uas/login')
file = open('config.txt')
lines = file.readlines()
username = lines[0]
password = lines[1]


elementID = browser.find_element_by_id('username')
elementID.send_keys(username)

elementID = browser.find_element_by_id('password')
elementID.send_keys(password)

elementID.submit()

## Below are the empty list which will be our final lists with scrapped data

In [3]:
new = []
new2 = []
new3 = []

In [4]:
visitedprofile = []
profilesqueued = []

## Create a funtion to get the company profile, which will be saved in the list with variable named new.

In [5]:
def getnewprofileID(soup, profilesqueued):
    profileID = []
    mj = soup.find('section', {'class' : 'grid__col grid__col--lg-12 mb6'})
    all_links = mj.findAll('a', {'class':'app-aware-link'})
    for link in all_links:
        userID = link.text
        if((userID not in profilesqueued) and (userID not in visitedprofile)):
            profileID.append(userID)
    return profileID

In [6]:
company_name = []
profilesqueued2 = []

## Create a funtion to get the company name, which will be saved in the list with variable named new2.

In [7]:
def getcompanyname(soup, profilesqueued2):
    profileID2 = []
    mj = soup.find('section', {'class' : 'grid__col grid__col--lg-12 mb6'})
    all_links = mj.findAll('div', {'class':'entity-result__primary-subtitle t-14 t-black'})
    for link in all_links:
        userID2 = link.text
        if((userID2 not in profilesqueued2) and (userID2 not in company_name)):
            profileID2.append(userID2)
    return profileID2

In [8]:
company_location = []
profilesqueued3 = []

## Create a funtion to get the company location, which will be saved in the list with variable named new3.

In [9]:
def getcompanylocation(soup, profilesqueued2):
    profileID3 = []
    mj = soup.find('section', {'class' : 'grid__col grid__col--lg-12 mb6'})
    all_links = mj.findAll('div', {'class':'entity-result__secondary-subtitle t-14'})
    for link in all_links:
        userID3 = link.text
        if((userID3 not in profilesqueued3) and (userID3 not in company_location)):
            profileID3.append(userID3)
    return profileID3

## There are total 73 pages, we have to scarp all of them.

In [10]:
nextlink = ['?start=10','?start=20','?start=30','?start=40','?start=50','?start=60','?start=70','?start=80','?start=90','?start=100','?start=110','?start=120','?start=130','?start=140','?start=150','?start=160','?start=170','?start=190','?start=200','?start=210','?start=220','?start=230','?start=240','?start=250','?start=260','?start=270','?start=280','?start=290','?start=300','?start=310','?start=320','?start=330','?start=340','?start=350','?start=360','?start=370','?start=380','?start=390','?start=400','?start=410','?start=420','?start=430','?start=440','?start=450','?start=460','?start=470','?start=480','?start=490','?start=500','?start=510','?start=520','?start=530','?start=540','?start=550','?start=560','?start=570','?start=580']

In [11]:
for i in nextlink:
    link = 'https://www.linkedin.com/my-items/saved-jobs/' + i
    new.extend(getnewprofileID(BeautifulSoup(browser.page_source), profilesqueued))
    new2.extend(getcompanyname(BeautifulSoup(browser.page_source), profilesqueued2))
    new3.extend(getcompanylocation(BeautifulSoup(browser.page_source), profilesqueued3))
    browser.get(link)

In [12]:
len(new)

1485

In [13]:
len(new2)

570

In [25]:
len(new3)

570

## Saving the scrap data of company post in the list named as new

In [28]:
data2 = {
        'company_post' : new
       
        }

In [29]:
df2 = pd.DataFrame(data2)

In [91]:
df2

                                    company_post
0                                   \n \n \n\n\n
1    \nWorking Student Market Research (f/m/d)\n
2                 \n\n \n\n\n\n\n\n\nApply\n\n\n
3                                   \n \n \n\n\n
4           \nWorking Student (m/w/d) Strategy\n
..                                           ...
836                           \nData Analyst 2\n
837                                 \n \n \n\n\n
838                          \nQliksense Squad\n
839                                 \n \n \n\n\n
840                             \nData Analyst\n

[841 rows x 1 columns]

In [30]:
df2 = df2[df2.company_post != '\n \n \n\n\n']
df2 = df2[df2.company_post != '\n\n \n\n\n\n\n\n\nApply\n\n\n']
df2 = df2[df2.company_post != '\n\n \n\n\n\n\n\n\nEasily Apply\n\n\n']

In [31]:
df2['company_post'] = df2['company_post'].apply(lambda x: x.replace('\n',''))

In [94]:
df2

In [99]:
df2.company_post.unique()

array(['Working Student Market Research (f/m/d)',
       'Working Student (m/w/d) Strategy',
       'Working Student - Product Managment (m/f/d)',
       'Working Student Content Creator (Video)',
       'Working Student (f/m/d) Data Science Consulting',
       '(Junior) Data Engineer (m/f/d)', 'Business Data Analyst',
       'Data & Analytics Consultant, Tableau', 'Data Analyst',
       'Werkstudent (w/m/d) - Business Intelligence & Reporting',
       '(Junior) Business Analyst - Operations (f/m/x)',
       '(Junior) Business Intelligence Consultant SAP Analytics (M/W/D)',
       'Business Analyst', 'Junior Product Analyst',
       '(Junior) Consultant (w/m/d) Business Intelligence & Data Analytics',
       'Junior BI Analyst (m/w/d)', 'Junior Data Engineer', 'Werkstudent',
       'Werkstudent Data Science (m/w/d)',
       'Werkstudent/Business Intern (m/w/d) i.s.h.med Consulting',
       'Werkstudent (m/w/d) im Bereich Insights Analytics',
       'Working Student - Assortment Management Business Analyst (m/f/d)',
       'Working Student (f/m/d) - Business Process Intelligence Support',
       'Werkstudent, Datenanalyst',
       'Werkstudent (w/m/d) Digitalisierung im Controlling',
       'Werkstudent (w/m/d) Data Integration & Analytics',
       'Werkstudent (m/w/d) Data Analytics',
       'Werkstudent (m/w/d) Analytics und Reporting',
       'Werkstudent Operations Strategy & Analytics (m/w/d)',
       'Alteryx / Tableau Analyst (m/w/d)',
       'Business Intelligence Analyst - Global BI (f/m/x)',
       'Junior Business Intelligence Analyst (f/m/d)',
       'Junior BI Analyst (m/f/d)', 'Data Analyst - freelance (contract)',
       'Business Intelligence Analyst', 'Analyst - Business Intelligence',
       'Data Engineer (m/f/d)', 'Data Engineer', 'Data Scientist (m/f/d)',
       'Data Scientist, Product Analytics', 'Application Data Scientist',
       'Junior Data Engineer (m/w/d)', 'Data Analyst (m/w/d)',
       'Reporting Specialist / Data Analyst (m/f/d)',
       '(Junior) Data Scientist (w/m/d)', 'Junior Data Scientist (m/w/d)',
       '(Junior) Data Analyst (m/w/x)', 'Data Scientist (m/f/x)',
       'Data Engineer (d/f/m)', 'Data Scientist (m/w/d)',
       'Data Analyst (m/w/d) Customer Relationship Management',
       'Data Analyst - Support', 'Data Engineer (M/W/D)',
       'Data Scientist - Advanced Analytics',
       'Insights Analyst (Analytics Engineer) - EMEA Remote',
       'Product Data Analyst (f/m/x)',
       'Analytics Engineer - Product (m/f/d)',
       'Junior Data Analyst (m/w/d)', 'Graduate Data Analyst',
       'Data Engineer (f/m/x)', 'Data Engineer*', 'DATA ENGINEER (W/M/D)',
       'Working Student Business Operations (f/m/x)',
       'Business Operations Working Student - Remote',
       'Working Student - Business Development Team',
       'Working Student (f/m/d) System Integration',
       'Working Student (m/f/x) – Marketing Optimization',
       'Working Student Data Engineering (gn)',
       'Working Student or Intern Product Management',
       'Operations Working Student',
       'Working Student - Global Implementation Team',
       'Working Student Controlling (m/f/d)', 'Working Student, Alexa EU',
       'Sales Operations Working Student',
       'Working Student (f/m/d): Design Working Student',
       'Venture Capital Working Student Berlin',
       'Working Student Data Analytics & Process Automation (f/m/d)',
       '  ', 'Data Science Working Student (f/m/d)',
       'Working Student - Data Engineering (f/m/x)',
       'Working Student Insights & Analytics (f/d/m)',
       'Apprenticeship Program Working Student (m/w/d) - Gigafactory Berlin-Brandenburg',
       'Business Intelligence Intern (m/w/d)',
       'Working Student Local Shops (f/m/d)',
       'Banking Operations Working Student',
       'Azure Data Engineer (f/m/d)', 'Azure Data Engineer (m/w/d)',
       'Data Scientist – Quantitative Finance (m/f/d)',
       '(Senior) Consultant (m/w/d) Microsoft-Azure & -Power BI',
       'Azure Data Factory Lead (m/w/d)', 'Cloud Data Engineer (m/w/d)',
       'Data Engineer (m/w/d) - Remote Option DE',
       'Big Data Engineer (Azure) - 100% Remote ',
       'Data Engineer - NRW - June 2021 start ',
       'BI Cloud Data Engineer (m/w/d)',
       'Data Engineer - Fokus Cloud Engineering', 'Data Engineer (gn)',
       'Data Analyst - Smart Platform', 'Data Analyst (M/W/D)',
       'Data Analyst (m/f/div) at Solarisbank AG',
       'Data Analyst E-Commerce (m/w/d)', 'Data Engineer (Berlin/Paris)',
       'Data Analyst (m/f/d)',
       '(Junior) Consultant (m/w/d) Data Engineer',
       'Data Analyst (m/w/x)', 'Data Analyst / Scientist (m/f/div)',
       'Data Scientist', 'Marketing Data Engineer (m/w/d)',
       'Data Analyst (f/m/div)',
       'Data Analyst - Vehicles and Supply Chain (m/f/d)',
       'Data Scientist - Orpheus', 'RPA Data Analyst (d/f/m)',
       'Software Engineer (m/f/d) – Data Analytics, Part- / Full-time – BM21_749',
       'Global BI Analyst', 'Qlik Consultant/Data Analyst (M/W/D)',
       'Data analyst in Customer Relations (m/f/d)',
       'Junior Sales Analyst - BI (f/m/d)', 'Senior Data Analyst (d/f/m)',
       'Business Intelligence Analyst (m/w/d)', 'Data Scientist Trainee',
       'Analytics Engineer',
       'Junior Data Analyst (all genders), full-time',
       'Business Intelligence Consultant – Tableau and Qlik ',
       'Data Analyst / Analytics Engineer (m/w/d)',
       'Data Scientist (f/m/d) Finance',
       'Werkstudent:in Content Marketing (m/w/x) NL',
       'Data Engineer Intern', 'Operations Data Analyst Intern (m/w/x)',
       'Working Student - Business Analytics (m/f/d)',
       'Principal Study Data Tabulation Model Programmer (m/w/d)',
       'Working Student - Data Analysis (f/m/d)',
       'Working Student Business Data Analyst (m/f/d) ',
       'Frontend Developer (m/w/d)', 'Data Scientist (m/w/d) München',
       'Business Analyst (m/w/d)',
       'Business Intelligence Analyst DACH (f/m/d/x)',
       'Energy Data Analyst (f/m/d)',
       'Junior Business Analyst (m/w/d) im Category Management als Elternzeitvertretung',
       'Business Analyst / Data Analyst (f/m/x)',
       'Senior Data Analyst (m/f/d)',
       'Junior Data Analyst (m/f/d) - BM21_369 - Berlin, Germany',
       'Data Analyst - Product', 'SQL Data Analyst',
       'Data Analyst (m/f/x)',
       'Working student in Procurement with Dutch (m/f/d) - Remote Option GER',
       'Solution Architect - deutschlandweit (m/w/d)',
       'IT Operations Specialist (m/w/d) - Data Analytics',
       'Working Student Data Analytics Procurement (20h/week)(m\\f\\d)',
       'Data Platform Specialist',
       'Data Analyst (m/w/d)2jooble2mobilversichert',
       'IT Operations Specialist (m/f/d) with focus on Data Analytics',
       'Data Analyst Onlinemarketing (m/w/d)',
       'DevOps Engineer - Data / Platform', 'BI Analyst',
       'AWS Cloud Specialist (m/w/d)',
       'Intern Business Analytics (f/m/x)',
       'Working Student/Internship for Agile Project Management (all genders) - in Berlin',
       'Machine learning | AI Intern (Remote position) – 3-6months, Full time',
       'QA Engineer (Working Student)', 'Data Engineering Intern (m/f/d)',
       'Business Operations Intern / Working Student - Berlin (m/f/d)',
       'Internship Business Intelligence Analyst (m/w/x)',
       'Working Student - Business Intelligence (m/f/x)',
       'Intern Business Analyst (m/f/d)', 'VC Intern - Berlin',
       'Expansion Intern (m/f/x)',
       '(Intern) Analytics Engineer - Analytics Platform (m/f/d)',
       'Trainee Data Engineering (m/w/d)',
       'Working Student (m/f/d) at Data Analysis',
       'Working Student Business Analytics',
       'Venture Analyst Intern/Working Student (m/f/d)',
       'Data Analyst Internship (m/w/d) - Gigafactory Berlin - Brandenburg',
       'Venture Analyst - Intern / Working Student (100% remote possible)',
       ' Deutsche Bahn International',
       'Trainee Digital Finance Data Analyst (w/m/d)',
       'Talent Data Analyst - Working Student',
       '???? Data Analyst - Intern (f/m/x) @her1 GmbH',
       'Graduate Program - Data and Analytics (m/w/d)',
       'Product Data Analyst with English - Google Shopping Project',
       'Analytics-specialist', 'Data Analyst (m/w/d) Pricing & Analytics',
       'Data Engineer: Business Intelligence',
       'Werkstudent für BI & Big Data Applications (m/w/d)',
       'Internship Business Intelligence (m/w/d)',
       'Werkstudent im Bereich Data Science & Analytics (m/w/d)',
       'Werkstudent / Studentische Aushilfe (m/w/d) Data & Analytics',
       'Business Analyst Internship (m/w/d)',
       'Werkstudent - Business Intelligence & Data Analytics (m/w/d)2jooble2Jaron&Amann',
       'Business Analytics Intern (f/m/x)',
       'Werkstudent (w/m/d) Knowledge Management Deal Advisory',
       'Working Student Strategy & Analytics (m/f/d)',
       'Intern Project Management - Operations Vehicles (m/f/d)',
       'Werkstudent (m/w/d) Digital Finance',
       'Analyst Intern - Logistics DACH (f/m/d/x)',
       'International Business Analyst, E-Commerce (m/f/x)',
       'Data Engineer Intern (m/w/d) Machine Learning /artificial intelligence',
       'Werkstudent*in Data Analytics - HR (all genders)',
       'Werkstudent (m/w/d) Business Intelligence',
       'Praktikum - BI / Business Analyst (m/w/d) mit Fokus auf Tableau',
       'Business Analyst (m/w/d) Financial Lines',
       'Business Analyst 100% Homeoffice (m/w/x)',
       'Business Analyst (m/w/d) Demand Management',
       'Junior Finance Data Analyst DACH (f/m/d)',
       'Werkstudent (m/w/d) Data Analyst Consulting (20h/Woche)',
       'Order to Cash (O2C) Business Analyst',
       'Werkstudent Data Analyst (m/w/d) - Life Science',
       'Customer Data Analyst (m/w/d)',
       'Business Analyst/Project Controller  (m/w/d)',
       'Product Analyst - Implementation (m/f/d)',
       'Business Analyst (m/w/d) Management Consulting Energiesektor Berlin',
       'Junior Web Analyst / Digital Analyst (m/w/d)',
       'Senior Analyst or Junior Associate, Frankfurt - Macquarie Capital',
       'Lead Business Analyst', 'Technical Business Analyst', 'Analyst',
       'Junior Data Analyst', 'Business Analyst Leben (m/w/d)',
       'Business Analyst (m/w/d) im Bereich Materials Management',
       'Business-Analyst / in in Köln (m/w)',
       '(Junior) Business Analyst (m/w/d) (24762)',
       'Business Analyst (m/w/d) - Energie',
       'Business Analyst (m/w/d) München', 'Data Analyst (x,f,m)',
       'Business Analyst/Consultant (m/w/d) Monitor Deloitte',
       'Business Analyst (m/w/d) als Dozent',
       'Junior Data Analyst (m/f/d)', 'Data analist, 32-36 uur, Gouda',
       'Business Analyst (m/f/x) - IT, Business Analysis',
       'Data Analyst (all genders)', 'Data Analist',
       'IT Business Analyst (m/w/d)', 'Business Analyst (all genders)',
       'IT Business Analyst / Junior WirtschaftsinformatierIn (m/w/d)',
       'Data Analyst (w/m/d)', 'Business Analyst (m/w/d) Inventory',
       'Business Analyst Projects & Operations (m|w|x)',
       'Business Analyst IT (m/w/d)',
       'Business Analyst for Single Risk Systems (m/f/d)',
       'Werkstudent Business Analyst (m/w/d)', 'EU Workflow Analyst',
       'Junior Business Analyst Accounting (m/w/d)', 'Data Entry Analyst',
       'SCM Business Analyst', 'Junior Data Analyst (f/m/d)',
       'Junior Business Analyst (m/w/d) - IT, Business Analysis',
       'Datenanalyst', 'Junior Business Analyst (m/w/d)',
       'Business Analyst Corporate Controlling (m/f/d) 1',
       '(Junior-)Business Analyst Banking Processes (w/m/d) - IT, Business Analysis',
       'Business Analyst - Product', 'Graduate Analyst (m/w/d)',
       'Business Analyst (m/f/d) – on-site or remote in Germany ',
       'Junior Business-Analyst (m/w/d) - IT, Business Analysis',
       'Data Analyst (f/m/x)',
       'Junior Business Analyst / Fachexperte Finanzbuchhaltung / Finanzbuchhalter (m/w/d)',
       'Junior Business Analyst (Public Sector)', 'Reporting Analyst',
       'Data Analyst - Real Estate (m/w/d)',
       'Business Analyst - Intune Implementation (m/w/d)',
       'Data Analyst 2', 'Qliksense Squad'], dtype=object)

In [32]:
df2 = df2[df2.company_post != ' Deutsche Bahn International']

In [33]:
df2 = df2[df2.company_post != '  ']

In [34]:
file_name_companypost = 'linked_in_companypost.xlsx'

In [35]:
file_name_location_name = 'linked_in_location_name.xlsx'

## saving scrap data of the company name in the list named as new2

In [ ]:
data = {
        'company_name' : new2
       
        }

In [ ]:
df = pd.DataFrame(data)

## Saving scrap data of the comapny location in the list named as new3

In [ ]:
data3 = {
        'company_location' : new3
       
        }

In [ ]:
df3 = pd.DataFrame(data3)

In [36]:
df.to_excel(file_name_location_name)

In [37]:
df2.to_excel(file_name_companypost)